body {
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    align-items: center;
    display: flex;
    flex-direction: column;
}

button {
    width: 50px;
}

.btn-2, #retry {
    display: none;
}

#retry {
    width: auto;
}

.footer-box {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    font-size: 14px;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

a, span {
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    transition: .25s;
}
