/* 背景图 */

#bg-img {
    z-index: -3;
    position: fixed;
    left: 0;
     top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s, transform .25s, filter .25s;
    backface-visibility: hidden;
}


/* 标题 */

.info-title {
    margin: 8vh 20px 20px 20px;
}

.info-title p {
    margin: 0 0 15px 0;
    font-weight: 900;
}

.info-line-1 {
    font-size: 32px;
}

.info-line-2 {
    font-size: 22px;
}


/* 玻璃拟态 */

.main-content {

    /* display: none !important; */
    
    /* 边距 */
    margin-top: 14vh;

    /* 弹性布局 */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.glass-box {

    /* 弹性布局 (用于垂直居中) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    /* 玻璃拟态 */
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: var(--whiteShadow);
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
}

.glass-box.glass-box-index-btn {
    /* 宽高 */
    height: 16vh;
    width: 40vw;
    margin: 10px 10px 10px 10px;
}

.glass-box-title {
    font-size: 24px;
    font-weight: 900;
}


/* 结果内容区 */
.result-content .glass-box.glass-box-result {
    margin: 5vh 20px 5vh 20px;
    padding: 20px 0px 20px 0px;
}

.glass-box.glass-box-result {
    display: flex;
    flex-direction: column;
    text-align: left;
}

p.glass-box-result {
    margin: 5px 20px 5px 20px;
}

p.result-itemName {
    font-size: 24px;
    font-weight: 550;
}

p.result-shopName {
    font-size: 20px;
}

p.result-price {
    font-size: 20px;
}

p.result-price::before {
    content: "￥";
}